@{
    ViewBag.Title = "Install";
}

<h2>Install</h2>



    <div id="LeftColumn">
        <p>Welcome to my BigFix Lab Infrastructure page.  Here you'll find details on connecting endpoints to my personal lab environment.  </p>
    
        <p>To install the client onto your computer or mobile phone, follow the instructions to the right.</p>
    </div>

    <div id="RightColumn">
        <p>
        Installation is dependant on your operating system:

        <ul>
        <li><a href="https://bigfix.me/client">Windows</a> <font size="-2"><i>(all versions)</i></font></li>
        <li><a href="https://bigfix.me:444">iOS Mobile</a> <font size="-2"><i>(Access from Mobile Device)</i></font></li>
        </ul>
        </p>
    </div>