@foreach (DirectoryInfo dir in Model[0])
{
    <div class="clsRow clsFolderRow">
        <div class="clsFolderName">@Html.ActionLink(dir.Name, null, new { @path = ViewBag.path + dir.Name })</div>
    </div>
}


@foreach (FileInfo file in Model[1])
{
    <div class="clsRow clsFileRow" id="row">
        <div class="clsFileName">@Html.ActionLink(file.Name, null, new { @path = ViewBag.path + file.Name })</div>
        <div class="clsFileAttributes">
            <div class="clsFileSize">@www.Core.Utility.FileSize(file.Length)</div><div class="clsFileModified">@file.LastWriteTime</div>
        </div>
    </div>
}