@{
    ViewBag.Title = "Our Privacy & Terms";
}

<h2>Terms</h2>


<p>Our Terms of Service</p>

<p>Last Modified: July 18, 2012</p>

<p>I am no lawyer and will not claim to have some great insite into all the copyright crap going on in the world these days.
Our terms are simple... please don't upload illegal, copyrighted, virus infested, or otherwise stuff that is not yours.</p>

<p>Please help keep this service running and function by following these terms.</p>

<p>I promise that any information you provide is private and WILL NOT BE SOLD OR SHARED!</p>

<p>Passwords are encrypted in our database with 512bit encryption... we do not have access to them, so please don't ask.</p>

<p>Data is transmitted over 256bit https encryption and data is stored on our encrypted drives for everyone's protection. 
If a drive is removed from our location without appropriate decryption passwords, the data is useless.  I AM THE ONLY ONE
WITH KNOWLEDGE OF THAT DRIVE ENCRYPTION PASWORD AND IT WILL NOT BE GIVEN TO ANYONE.</p>

<p>Our service is Available "AS-IS"</p>
<p>Be aware that we do our best to keep our service up and running 24x7.  Downtimes do occur but rest assured that someone will
be working to bring services back online ASAP.</p>

<p>Oh, one last thing... we reserve the right to modify these terms at any time for any reason.</p>