<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="path" value="c:\inetpub\ftproot\"/>
  </appSettings>




  <!--Deny anonymous users to content except for the specified locations below:-->
  <location path="">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!--Content and Scripts allow us to show pictures and run scripts on the front page, so allow anonymous access.-->
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--We want anonymous users to see the home page.-->
  <location path="home">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--We want anonymous users to see the home page.-->
  <location path="account/signin">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="account/register">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>







  <!--We want anonymous users to see the error page.-->
  <location path="error">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--This page provides the anonymous users with downloadable links for our client side installers.-->
  <location path="install">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--We also want anonymous users to view our terms of service.-->
  <location path="terms">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  

  <!--We'd like to allow a long timeout for this controller/action due to uploading of very large files.-->
  <location path="FileActions/UploadFile">
    <system.web>
      <httpRuntime executionTimeout="600" />
    </system.web>
  </location>


  <system.web>
    
    <!--This is the file size limit in Kb for uploading files.  (two spots for this value depending on IIS server version)-->
    <httpRuntime maxRequestLength="1048576" />



    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/home" timeout="15" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>



    
    <customErrors mode="Off"/>



  </system.web>

  

  
  

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>

    <security>
      <requestFiltering>
        <!--This is the file size limit in Kb for uploading files.  (two spots for this value depending on IIS server version)-->
        <requestLimits maxAllowedContentLength="1048576" />
      </requestFiltering>
    </security>

    <rewrite>
      <!--Space holder for Web.Release.config-->
    </rewrite>
  </system.webServer>

  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>




  <connectionStrings>
    <add name="DB"
      connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|www.mdf;User Instance=true"
      providerName="System.Data.SqlClient"
      />

  </connectionStrings>

</configuration>
