@{
    ViewBag.Title = "Home";
}
    

<center><img src="@Url.Content("~/Content/default.jpg")" /></center>

<center>Bringing the world together one computer at a time!</center>

<center><p><i>Visit <a href="http://rootsync.codeplex.com">http://rootsync.codeplex.com</a> for the source code to make your own <b>at home cloud storage service</b>!</i></p></center>